# PyInstaller
build/
dist/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Virtual Environment
venv/
env/
.venv/
